/* PasswordGenerator.css */
.password-generator-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 300px;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
